/* Cascading Style Sheets */

*{
    margin: 0;
    padding: 0;
    /* border: 1px solid yellow; */
}

@font-face {
    font-family: myFirstFont;
    src: url(../Poppins/Poppins-Regular.ttf);
}
    @font-face {
    font-family: bold;
    src: url(../Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: secound;
    src: url(../Poppins/Poppins-Bold.ttf);
}

h1{
    font-family: bold;
}

body{
    font-family: myFirstFont,Verdana, Geneva, Tahoma, sans-serif;
    cursor:default;
}

    /* Website Scrollerbar */
    body::-webkit-scrollbar {
        width: 5px !important;
        height: 5px !important;
    }
    body::-webkit-scrollbar-track {
        background: #3838387c !important;
    }
    body::-webkit-scrollbar-thumb {
        background-color: #e0120ba4 !important;
        border: 1px solid #ff020279 !important;
        border-radius: 1px !important;
    }

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.6),rgba(4,9,30,0.6)),url(https://qph.cf2.quoracdn.net/main-qimg-ef6e8ebec6573a26565818d36de1ca9a-lq);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
    height: 65px;
}
.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 15px;
    position: relative;
    
}
.nav-links a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ff0000;
    display: block;
    margin: auto;
    transition: 0.5s;
    
}
.nav-links ul li:hover::after{
    width: 100%;
    
}
.text-box{
    width: 90%;
    color: #fff;
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
    font-weight: bold;

}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
    
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: yellow;
    border: 2px solid yellow;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
}
.hero-btn:hover{
    color: black;
    border: 2px solid yellow;
    background:yellow;
    transition: 0.5s;
}

.icon{
    display:none;
}

/*features*/

#features{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
 }

 #features .fea-base{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
 }
 
#features .fea-box{
    background: #f9f9ff;
    text-align: start;
}

#features .fea-box i{
    font-size: 2.3rem;
    color: rgb(44,44,80);
}
#features .fea-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46,46,59);
    padding: 13px 0 7px 0;
}
#features .fea-box p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70,70,87);
}

/* Course */

 .course{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}
h1{
    font-size: 36px;
    font-weight: 300;
}
p{
    color:#413c3f;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 40px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
 .course-col{
    flex-basis: 31% ;
    background: #f1d4f1;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 15 10px;
    box-sizing: 50 ;
 }


/* Call To Action */

.ctn{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://theknowledgereview.com/wp-content/uploads/2019/02/Banasthali-Vidyapith-1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    transition: 0.5s;
}
.ctn h1{
    color: #fff;
    margin-bottom: 40px;
    padding: 0;
}
.ctn:hover{
    margin: 100px auto;
    width: 80%;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(https://theknowledgereview.com/wp-content/uploads/2019/02/Banasthali-Vidyapith-1.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    padding: 100px 0;
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.664);
}

/* Media query for responsive */

@media (max-width: 700px) {

    *{
        overflow-x: hidden;
        margin: 0;
        padding: 0;
    
    }
    #logo-img{
        padding: 10px;
    }
    .text-box h1{
       font-size: 30px;
       font-weight: bold;
    }
    .text-box p{
        font-size: 12px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 200px;
        top: 0%;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    .icon{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 25px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }

    /*Course in Media query*/
   
    .course-col{
        margin: 10px 10px;
    }
    .row{
        flex-direction: column;  
    }   
    .course-col:hover{
        box-shadow: 3px 3px 0.5px 0.5px rgba(0, 0, 0, 0.486);
    }
        /* Facilities */
    .facilities-col img:hover{
        box-shadow:none;
    }

    /* Call To Action in Media query*/
    .ctn h1{
        font-size: 24px;
    }
}
#course
{
	padding: 8vw 8vw 8vw 8vw;
	text-align: center;
}

#course .course-box
{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 1rem;
	margin-top: 50px;
}

#course .courses
{
	text-align: start;
	background: #edf1f2;
	height: 100%;
	position: relative;
}

#course .courses img
{
	width: 100%;
	height: 60%;
	background-size: cover;
	background-position: center;
}

#course .courses .details
{
	padding: 15px 15px 0 15px;
}

#course .courses .details i
{
	color: #fdc93b;
	font-size: .9rem;
}

#course .courses .cost
{
	background-color: rgb(74, 74, 136);
	color: #fff;
	line-height: 70px;
	width: 70px;
	height: 70px;
	text-align: center;
	border-radius: 50%;
	position: absolute;
	right: 15px;
	bottom: 100px;
}
/*------------- Courses section styling end ------------*/


/*------------- Registration section styling start ----------*/
#registration
{
	padding: 6vw 8vw 6vw 8vw;
	background-image: linear-gradient(rgba(99,112,168,0.5), rgba(81,91,233,0.5)),url("https://img.freepik.com/free-photo/man-working-energy-innovations-his-laptop_23-2148820170.jpg");
	width: 85%;
	height: 100%;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#registration .reminder, #registration .reminder h1
{
	color: #fff;
}

#registration .reminder .time
{
	display: flex;
	margin-top: 40px;
}

#registration .reminder .time .date
{
	text-align: center;
	padding: 13px 33px;
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(4px);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	border-radius: 10px;
	margin: 0 5px 10px 5px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	font-size: 1.1rem;
	font-weight: 600;
}

#registration .form
{
	background: #fff;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	padding: 40px;
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
}

#registration .form input
{
	margin: 15px 0;
	padding: 15px 10px;
	border: 1px solid rgb(84, 40, 241);
	outline: none;
}

#registration .form input::placeholder
{
	color: #413c3c;
	font-weight: 500;
	font-size: 0.9rem;
}

#registration .form .btn
{
	margin-top: 20px;
}

#registration .form a.yellow
{
	text-decoration: none;
	font-size: 0.9rem;
	padding: 13px 35px;
	background-color: #fff;
	font-weight: 600;
	border-radius: 5px;
	color: #fff;
	background: #fdc938;
	transition: 0.3s ease;
}

#registration .form a.yellow:hover
{
	color: rgb(21, 21, 100);
	background: #fff;
}
/*------------- Registration section styling end ----------*/



/*------------- Experts section styling starts ----------*/
#experts
{
	padding: 8vw 8vw 8vw 8vw;
	text-align: center;
}

#experts .expert-box
{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-gap: 1rem;
	margin-top: 50px;
}

#experts .expert-box .profile
{
	padding: 30px 10px;
}
/*------------- Experts section styling ends ----------*/




/*------------- Footer section styling starts ------------*/
footer
{
	padding: 8vw;
	background-color: #101c32;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
}

footer .footer-col
{
	padding-bottom: 40px;
}

footer h3
{
	color: rgb(241, 240, 245);
	font-weight: 600;
	padding-bottom: 20px;
}

footer li
{
	list-style: none;
	color: #7b838a;
	padding: 10px 0;
	font-size: 15px;
	cursor: pointer;
	transition: 0.3s ease;
}

footer li:hover
{
	color: rgb(241, 240, 245);
}

footer p
{
	color: #7b838a;
}

footer .subscribe
{
	margin-top: 20px;
}

footer input
{
	width: 220px;
	padding: 15px 12px;
	background: #334F6C;
	border: none;
	outline: none;
	color: #fff;
}

footer .subscribe a
{
	text-decoration: none;
	font-size: 0.9rem;
	padding: 12px 15px;
	background-color: #fff;
	font-weight: 600;
}

footer .subscribe a.yellow
{
	color: #fff;
	background: #fdc93b;
	transition: 0.3s ease;
}

footer .subscribe a.yellow:hover
{
	color: rgb(21, 21, 100);
	background: #fff;
}

footer .copyright
{
	margin-top: 20px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

footer .copyright p, footer .copyright p > a
{
	color: #fff;
	text-decoration: none;
}

footer .copyright .pro-links
{
	margin-top: 0px;
}

footer .copyright .pro-links i
{
	background-color: #5f7185;
	color: #fff;
}

footer .copyright .pro-links i:hover
{
	background: #fdc93b;
	color: #2c2c2c;
}
/*------------- Footer section styling ends ------------*/



/*---------------------------------------------------------*/
/*-------------------- Ipad screen styling ----------------*/
/*---------------------------------------------------------*/
@media screen and (max-width: 789px)
{
	nav
	{
		padding: 15px 20px;
	}

	nav img
	{
		width: 130px;
	}

	#menu-btn
	{
		display: initial;
	}

	#menu-close
	{
		display: initial;
		font-size: 1.6rem;
		color: #fff;
		padding: 30px 0 20px 20px;
	}

	nav .navigation ul
	{
		position: absolute;
		top: 0;
		right: -220px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		width: 220px;
		height: 100vh;
		background: rgba(17, 20, 104, 0.45);
		backdrop-filter: blur(4.5px);
		border: 1px solid rgba(255, 255, 255, 0.18);
		transition: 0.3s ease-in;
	}

	nav .navigation ul.active
	{
		right: 0;
	}

	nav .navigation ul li
	{
		padding: 20px 0 20px 40px;
		margin-left: 0;
	}

	nav .navigation ul li a
	{
		color: #fff;
	}

	#home
	{
		padding: 0px;
	}

	#home p
	{
		width: 90%;
	}

	#features
	{
		padding: 8vw 4vw 0 4vw;
	}

	#course
	{
		padding: 8vw 4vw 8vw 4vw;
	}

	#registration
	{
		padding: 6vw 4vw 6vw 4vw;
		gap: 2.2rem;
	}

	#registration .reminder .time
	{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		margin-top: 40px;
	}

	#experts
	{
		padding: 8vw 4vw 6vw 4vw;
	}

	footer .copyright .pro-links
	{
		margin-top: 20px;
	}
}


@media screen and (max-width: 475px)
{
	#registration
	{
		flex-direction: column;
	}

	.reminder p, .reminder h1
	{
		text-align: center;
	}

	.reminder h1
	{
		font-size: 1.8rem;
	}

	#registration .reminder .time
	{
		justify-content: space-evenly;
		margin-top: 20px;
	}
}

/* Media query is Close*/

